@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
  .page-break {
    page-break-after: always;
  }
}

/* @media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: always;
    page-break-after: always;
  }
} */

@page {
  size: 7.2cm 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-cly1 {
  text-align: left;
  vertical-align: middle;
}
.tg .tg-bobw {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-wa1i {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-8d8j {
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-7zrl {
  text-align: left;
  vertical-align: bottom;
}
.tg .tg-nrix {
  text-align: center;
  vertical-align: middle;
}
.tg .tg-j6zm {
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
}
