.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.order-title {
  margin-right: 10px;
}

.details-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

.details-wrap {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 30px;
}
